html {
  height: 100%;
}
body {
  padding: 0;
  background: fixed linear-gradient(to bottom, #de8c3c, #695140) center no-repeat;
  background-size: cover;
}
main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.leaf {
  width: 50px;
  height: 50px;
  position: absolute;
}
