html {
  height: 100%;
}

body {
  background: url("/bg.svg") no-repeat center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  padding: 10px;
}

.tokenizer {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, .4);
  border-radius: 50px;
  border: 3px solid black;
  padding: 20px;
}
.tokenizer button, input {
  background-color: transparent;
  border: 2px whitesmoke solid;
  border-radius: 35px;
  color: whitesmoke;
  padding: 10px;
  transition: 0.5s ease-in-out;
}
.tokenizer button:hover, .tokenizer input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.container {
  border-radius: 40px;
  border: 3px black solid;
  padding:  0 20px;
  margin: 30px;
}
